<script>
  topbar = function(){
      //topbar
      let contents = document.getElementById("contents");
      let themeth = document.getElementById("the_methodist");
      let ribdiv = document.getElementById("ribbon_loc");
      if (themeth.getBoundingClientRect().top < 0 ){
          ribdiv.className = "top_fixed";
      }else{
          ribdiv.className = "banner_abs";
      }

      //basebar
      let base = document.getElementById("contact");
      if (contents.getBoundingClientRect().height < window.innerHeight * 0.4){
          base.className = "base_fixed";
      }else {
          base.className = "base_floaty";
      }



  }
  window.addEventListener("scroll",topbar);
  window.addEventListener("resize",topbar);
  window.addEventListener("load",topbar);

</script>
